body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Helvetica', 'Arial';
	background-color: #ADD8E6;
}

h1 {
	color: #000080;
}

h2 {
	font-weight: normal;
	font-size: 18px;
}

#question {
	color: #FF0080;
}

#options {
	margin: 10px 0;
	color: #3D3242;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

button {
	font-size: 18px;
	color: #006400;
	cursor: pointer;
}

.container {
	width: 480px;
	margin: 0 auto;
	text-align: left;
}

.next-question {
	margin-right: 10px;
}

#score {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #000080;
}


